nav {
    background-color: green;
    padding: 10px;
}

nav a {
    color: white;
    margin-right: 15px;
    text-decoration: none;
    padding: 8px 12px;
}

nav a:hover {
    background-color: rgb(204, 33, 33);
    color: green;
    border-radius: 5px;
}
footer {
    text-align: center;
    padding: 10px;
    margin-top: 40px;
    background-color: #f2f2f2;
}